<nav>
    <div class="appRow">
        <img src="/img/logo/logo.png" alt="e81" class="logo">
       
        <ul class="main-nav js--main-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="#works">How it works</a></li>
            <li><a href="/getEmployers">Employers</a></li>
            <li><a href="#plans">Sign in</a></li>
        </ul>
        <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
    </div>
</nav>
